<section class="login">
    <div class="tela-login">
        <img src="../../assets/images/celular2.jpg" class="celular" alt="">
        <div class="usuario-login">
        <h1>TRANSFERENCIA IBANK</h1>
        
        
       
        <p class="texto-usuario-login">Numero da conta a retirar</p>
        <input type="text" [value]="numeroConta" (keyup)="digitouNumero($event)">
        <hr>
        <p class="texto-usuario-login">Numero da conta a transferir</p>
        <input type="text" [value]="numeroTransferencia" (keyup)="digitouTransferencia($event)">
        <hr>
        <p>Saldo Disponivel</p>
        <hr>
        <p>Valor a Transferir: </p>
        <input type="double" id="valorInput" [value]="transferirValor" (keyup)="digitouValor($event)">
        <hr>
        <p>Revise os dados e confirme ao clicar no botão<p>
        <button (click)="transacaoUsuario()" type="ngsubmit" class="btn-logar">Confirmar</button>
        </div>
    </div>

</section>
